/* BASE */

.container-conoce-ema {
  background-color: #fafafa;
}

.h2-conoce-ema {
  font-family: "Klavika";
  font-weight: 500;

  color: #363735;
}

.h3-conoce-ema {
  font-family: "Avenir";
  font-weight: 300;

  color: #363735;
}

.boton-conoce {
  background: linear-gradient(to right, #ffa041, #ffc52e);
  color: white;
  border: none;
  border-radius: 10px;

  font-family: "Avenir";
  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;

  display: block;
  margin: 0 auto;
}

a {
    text-decoration: none;
}

/* For desktop */
@media screen and (min-width: 1119px) {
  .container-conoce-ema {
    padding: 3rem;
    margin: 0;
  }

  .h2-conoce-ema {
    font-size: 1.8rem;

    margin-bottom: 0;
  }

  .h3-conoce-ema {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .boton-conoce {
    bottom: 2rem;
    left: 50%;
    padding: 1rem;
  }

  .boton-conoce:hover {
    background: linear-gradient(to right, #0377a8, #3db3e3);
    cursor: pointer;
  }
}

/* NAV MOBILE*/
@media screen and (max-width: 1118px) {
}
