@font-face {
    font-family: "Klavika";
    src: url("../fonts/KlavikaRegular-TF.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Klavika";
    src: url("../fonts/klavika-medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Klavika";
    src: url("../fonts/klavika-bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirNextCondensed-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirNextCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/AvenirNextCondensed-Bold.ttf") format("truetype");
    font-weight: 600;
}
