/*BASE*/

#footer {
  background-color: #353735;
  color: #ecf0f1;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column h4,
.footer-column-siguenos h4 {
  font-family: "Klavika", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #fff;
  border-bottom: 1px solid #0076a8;
  padding-bottom: 10px;
}
.footer-column p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}
.footer-column p i {
  margin-right: 10px;
  color: #1abc9c;
}
.social-icons a {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  color: #ecf0f1;
  background-color: #0076a8;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
.social-icons a:hover {
  background-color: #fdc82f;
  color: #fff;
}
.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  color: #95a5a6;
}

.terminos-aviso-footer {
  text-align: center;
}

.link-terminos {
  display: inline;
  margin: auto;
  font-size: 0.8rem;
  color: #95a5a6;
}

.link-terminos:hover {
  cursor: pointer;
  color: white;
}

/* For desktop */
@media screen and (min-width: 1119px) {
  #footer {
    padding: 40px 50px 20px 50px;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-container {
    padding-bottom: 20px;
  }

  .footer-column,
  .footer-column-siguenos {
    flex: 1;
    min-width: 250px;
    margin: 20px;
  }

  .h4-siguenos {
    font-family: "Klavika", sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
    border-bottom: 1px solid #0076a8;
    padding-bottom: 10px;
  }

  .footer-bottom {
    padding-top: 20px;
    border-top: 1px solid #0076a8;
  }
}

/* NAV MOBILE*/
@media screen and (max-width: 1118px) {
  #footer {
    padding: 20px 25px 10px 25px;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .footer-container {
    padding-bottom: 0;
  }

  .footer-column {
    flex: 1;
    min-width: 125px;
    margin: 1rem;
  }

  .h4-siguenos {
    display: none;
  }

  .footer-column-siguenos {
    flex: 0 0 100%;
    text-align: center;
    padding-bottom: 1rem;
  }

  .social-icons-container {
    display: block;
    margin: 0;
    text-align: center;
  }
}
