/* BASE */
:root {
  --header-height: clamp(60px, 8vw, 65px);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Avenir";
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.1rem solid #eaebe9;
  box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
  z-index: 100;
}

/* NAV */

.nav-container {
  padding-inline: clamp(20px, 5vw, 90px);
  background-color: #fafafa;
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: clamp(20px, 8vw, 40px);
  object-fit: contain;
  padding: 5px;
  margin-left: 0;
}

.nav__logo:hover {
  cursor: pointer;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;

  margin-right: clamp(5px, 5vw, 10px);
}

.nav__toggle-menu,
.nav__toggle-close {
  font-size: 1.5rem;
  color: #575a55;
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;

  cursor: pointer;
  transition:
    opacity 0.1s,
    transform 0.4s;
}

.nav__toggle-close {
  opacity: 0;
}

.nav__toggle-menu {
  font-weight: 500;
}

/* NAV MOBILE*/
@media screen and (max-width: 1118px) {
  .nav-menu {
    background-color: #fafafa;
    position: absolute;

    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 0rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition:
      top 0.4s,
      opacity 0.3s;

    display: flex;
    flex-direction: column;
  }

  .lang-container {
    order: -1;
    margin-left: 0;
    justify-content: flex-start;
    padding: 0.8rem 2rem;
  }

  .nav-menu::-webkit-scrollbar {
    width: 0.5rem;
  }

  .nav-menu::-webkit-scrollbar-thumb {
    background-color: #a2c7e2;
  }
}

.nav__link {
  color: #767774;
  font-family: "Klavika", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.7rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: background-color 0.3s;
}

.nav__link:hover {
  background-color: #f0eaea;
}

.show-menu {
  opacity: 1;
  pointer-events: initial;
}

/* SHOW ICON */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/* DROPDOWN */

.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  color: #777b74;
  font-weight: 100;

  transition: transform 0.4s;
}

.dropdown__content,
.dropdown__content-acreditaciones,
.dropdown__content-portafolio,
.dropdown__group,
.dropdown__list {
  display: grid;
}

.dropdown__container {
  background-color: #fafafa;
  height: 0;
  overflow: hidden;
  transition: height 0.4s;
}

.dropdown__content,
.dropdown__content-acreditaciones,
.dropdown__content-portafolio {
  row-gap: 0.8rem;
  align-items: start;
}

.dropdown__group {
  padding-left: 3rem;
  row-gap: 0.5rem;
  align-content: start;
}

.dropdown__group:first-child {
  margin-top: 0rem;
}

.dropdown__group:last-child {
  margin-bottom: 1rem;
}

.dropdown__title {
  font-family: "Avenir", sans-serif;
  font-size: 1rem;
  color: #767774;
  font-weight: 500;
  margin-top: 0.5rem;
}

.dropdown__link {
  font-family: "Avenir", sans-serif;
  color: #767774;
  padding-left: 1.5rem;

  transition: color 0.3s;
}

.dropdown__link:hover {
  color: #40423f;
}

.dropdown__list {
  row-gap: 0.8rem;
}

.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/* LANGUAGE */

.lang-container {
    background-color: #fafafa;

  display: flex;
  justify-content: center;
  margin-left: 3rem;
  flex-shrink: 0;

  gap: 0.5rem;
}

.lang-button {
  font-family: "Avenir";
  font-weight: 500;
  font-size: 1rem;
  color: #767774;

  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem ;
  flex-shrink: 0;

  margin-left: 0.5rem;

  border:#767774 solid 0.1rem;
  border-radius: 0;
}

.lang-button:hover {
    border:#767774 solid 0.15rem;
    font-weight: 600;

    cursor: pointer;
}

/* BREAKPOINTS */

/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
  }
}

/* For desktop */
@media screen and (min-width: 1119px) {
  /* Nav*/

  .nav-container {
    height: calc(var(--header-height) + 0.5rem);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-menu {
    opacity: 1;
    pointer-events: auto;
    top: 0;
    
    display: flex;
    margin: auto;
    height: 100%;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    column-gap: 2rem;
    height: 100%;
  }

  .nav-container li {
    display: flex;
  }

  .nav__link {
    padding: 0;

    font-family: "Avenir";
    font-weight: 400;
  }

  .nav__link:hover {
    background-color: #fafafa;
    font-weight: 500;
  }

  .nav__link.active {
    font-weight: 600;
  }

  /*Dropdown*/
  .dropdown__button {
    column-gap: 0.3rem;
    cursor: pointer;
  }

  .dropdown__item {
    position: relative;
  }

  .dropdown__container {
    height: max-content;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    margin-inline: auto;
    width: fit-content;
    max-width: 90vw;
    top: calc(var(--header-height) + 0.5rem);

    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    border-top: 0.1rem solid #eaebe9;

    pointer-events: none;
    opacity: 0;
    transition:
      top 0.4s,
      opacity 0.3s;
    padding-bottom: 1rem;
    padding-inline: 2rem;
  }

  .dropdown__item:hover .dropdown__container {
    opacity: 1;
    pointer-events: initial;
  }

  .dropdown__container::before {
    content: "";
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    height: 1rem;
  }

  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: clamp(1rem, 2vw, 2rem);
    row-gap: 0.8rem;
    max-width: 700px;
    margin-inline: auto;
    margin-top: 0.5rem;
  }

  .dropdown__content-portafolio {
    max-width: 700px;
    margin-inline: auto;
    margin-top: 0.5rem;
  }

  .dropdown__content-acreditaciones {
    grid-template-columns: repeat(2, max-content);
    column-gap: clamp(1.5rem, 2vw, 3rem);
    row-gap: 0.8rem;
    max-width: 700px;
    margin-inline: auto;
    margin-top: 0.5rem;
  }

  .dropdown__arrow {
    display: none;
  }

  .dropdown__group,
  .dropdown__link {
    padding: 0;
  }

  .dropdown__list {
    row-gap: 0.5rem;
  }

  /*Show Dropdown Menu*/
  .dropdown__item:hover > .dropdown__container {
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
  }

  .container {
    margin-inline: auto;
  }

.lang-container {
  display: flex;
  justify-content: center;
  margin-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: #fafafa;

  gap: 0.5rem;
}

  .lang-button {
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem ;
  margin:auto;
  }
}


