/* BASE */
.hero {
  margin: 0;
  font-family: "Avenir";
}

.slider {
  width: 100%;
  max-width: 100vw;
  margin: auto;
  position: relative;

  overflow: hidden;
}

.item {
  width: 100vw;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.item::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.2)
  );

  z-index: 90;
}

.list {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;        
  height: 100%;
  width: max-content; 

  transition: 1s;
}

.list img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  position: relative;
  z-index: 80;
}

.texto-hero {
    position: absolute;
  z-index: 100;

  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 100%;
  max-width: 700px;

  padding: 2rem;
}

.hero-h1 {
    font-family: "Klavika";

    color: white;
}

.hero-h2 {
    font-family: "Klavika";
    font-weight: 200;

    color: white;

    padding: 2rem;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;

  display: flex;
  justify-content: space-between;

  transform: translateY(-50%);
  z-index: 99;
}

.flecha-next,
.flecha-prev {
  width: 1.2rem;

  display: block;
}

.flecha-prev {
  transform: scaleX(-1);
}

.buttons button {
  all: unset;
  cursor: pointer;

  width: 3rem;
  height: 3rem;
}

.dots {
  position: absolute;
  bottom: 1rem;
  color: rgba(255, 255, 255, 0.5);

  left: 0;
  width: 100%;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  z-index: 99;
}

.dots li {
  list-style: none;
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1.3rem;

  border-radius: 1rem;

  transform: 1s;

  cursor: pointer;
}

.dots li.active {
  width: 2rem;
  color: white;
}

/* For desktop */
@media screen and (min-width: 1119px) {
  .hero {
    margin-bottom: 4rem;
  }
  
  .slider {
 height: 700px;
}

.hero-h1 {
  font-size: 3rem;
}

.hero-h2{
  font-size: 1.8rem;
}
}

/* NAV MOBILE*/
@media screen and (max-width: 1118px) {
  .hero {
    margin-bottom: 3rem;
  }
  
  .slider {
  height: 500px;
}

.hero-h1 {
  font-size: 2rem;
}

.hero-h2{
  font-size: 1.5rem;
}
}
