/*BASE*/

/* PORTADA */
.portada {
  position: relative;
}

.foto-portada {
  margin-top: var(--header-height);
  width: 100%;
  height: clamp(200px, 25vw, 390px);
  overflow: hidden;

  margin-bottom: 0;
}

.foto-portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-portada-contenedor {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 80%;
}

.h1-servicios-pag {
  color: white;

  font-family: "Klavika";
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 4rem);

  line-height: 1;
  margin-bottom: 0.5rem;
}

.h2-servicios-pag {
  color: white;

  font-family: "Klavika";
  font-weight: 300;
  font-size: clamp(1.2rem, 2vw, 2rem);
}

.foto-portada::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* MENÚ */

.tab-list {
  font-family: "Avenir";
  font-size: 1.2rem;
  color: #363735;
  font-weight: 300;

  list-style: none;
  padding-top: 1rem;
  margin: 0;

  display: flex;
  justify-content: center;
  gap: 5rem;

  padding-bottom: 1rem;

  border: #cccccc solid 1px;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

/* CONTENIDO TAB INSPECCIÓN Y DIAGNÓSTICO */

.h3-servicios-pag {
  color: #767774;

  font-family: "Avenir";
  font-weight: 500;
  font-size: 1.3rem;

  margin-bottom: 0.5rem;
}

.tab-list a {
  text-decoration: none;
  color: #363735;
}

.p-servicios-pag {
  font-family: "Avenir";
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2;

  color: #363735;

  margin-top: 0;
  margin-bottom: 1.2rem;

  text-align: justify;
}

/* CONTENIDO NUESTROS EQUIPOS */

.img-equipo img {
  width: 100%;
  height: auto;
  display: block;

  border-radius: 15px;
}

.img-equipo-2 img {
  width: 100%;
  height: auto;
  display: block;

  border-radius: 15px;
}

.iconos {
  display: flex;
  justify-content: center;
}

.italic {
  font-style: italic;
}

.ficha-tecnica {
  background: linear-gradient(to right, #ffa041, #ffc52e);
  color: white;
  border: none;
  border-radius: 10px;

  font-family: "Avenir";
  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;

  display: block;
  margin: auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top: 10px;

  transition: all 0.5s ease;
}

.ficha-tecnica:hover {
  background: linear-gradient(to right, #0377a8, #3db3e3);
  cursor: pointer;
}

/* For desktop */
@media screen and (min-width: 1119px) {
}

/* CONTENIDO TAB INSPECCIÓN Y DIAGNÓSTICO */
.content {
  padding-inline: clamp(20px, 5vw, 100px);
  padding-bottom: 0;
}

.ind-container {
  display: flex;
  justify-content: center;

  gap: 5rem;
}

.gif-container {
  max-width: clamp(250px, 30vw, 400px);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tab-list li {
  position: relative;
}

.tab-list li:hover {
  font-weight: 500;
}

.tab-list li.active::after {
  content: "";
  position: absolute;

  left: 0;
  right: 0;
  bottom: -12px;

  height: 2px;
  background: #363735;
}

.tab-panel-text {
  margin-top: 2rem;
}

/* CONTENIDO NUESTROS EQUIPOS */

.equipo {
  display: flex;

  margin-top: 3rem;
  margin-bottom: 3rem;

  padding-inline: clamp(20px, 5vw, 100px);
}

.equipo-primera-fila, 
.equipo-segunda-fila {
  display: flex;

  margin-top: 1rem;

  padding-inline: clamp(20px, 5vw, 100px);
}

.texto-equipo-izq {
  flex: 1;

  padding-right: 3rem;
  padding-top: 1.2rem;
}

.img-equipo,
.img-equipo-2 {
  flex: 1;
}

.IMT {
  width: 120px;

  margin: 2rem;
}

.pave-doctor {
  height: 120px;

  margin: 2rem;
}

.skid-doctor {
  height: 100px;

  margin: 2rem;
}

.texto-equipo-der {
  flex: 1;

  padding-left: 3rem;
  padding-top: 1.2rem;
}

/* NAV MOBILE*/
@media screen and (max-width: 1118px) {

.h3-servicios-pag {
  margin-top: 1rem;
}

/* CONTENIDO TAB INSPECCIÓN Y DIAGNÓSTICO */

.ind-container {
  display: block;
  margin: auto;
}

.gif-container {
  margin: auto;
}

/* CONTENIDO NUESTROS EQUIPOS */

.equipo {
  display: flex;
  flex-direction: column;

  margin-top: 0;
  margin-bottom: 3rem;

  padding-inline: clamp(20px, 5vw, 100px);
}

.texto-equipo-izq {
  margin: 0;
  padding: 0;
}

.texto-equipo-der {
  margin: 0;
  padding: 0;
}

.texto-equipo-izq,
  .texto-equipo-der {
    order: 2;
  }

  .img-equipo {
    order: 1;
  }

  .IMT {
  width: 100px;

  margin: 1rem;
}

.pave-doctor {
  height: 90px;

  margin: 1rem;
}

.equipo-primera-fila {
  display: flex;
  flex-direction: column;

margin-bottom: 1rem;

padding-inline: clamp(20px, 5vw, 100px);
}

.equipo-segunda-fila {
  margin-bottom: 2rem;

  padding-inline: clamp(20px, 5vw, 100px);
}

.img-equipo-2 img {
  display: none;
}

.skid-doctor {
  height: 90px;

  margin: 1rem;
}

.ficha-tecnica{
  margin-top: 1rem;
}

}