/*BASE*/

/* PORTADA */
.portada {
  position: relative;
}

.foto-portada {
  width: 100%;
  height: clamp(200px, 25vw, 390px);
  overflow: hidden;

  margin-bottom: 0;
}

.foto-portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-portada-contenedor {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  width: 80%;
}

.h1-servicios-pag {
  color: white;

  font-family: "Klavika";
  font-weight: 600;
  font-size: clamp(2rem, 5vw, 4rem);

  line-height: 1;
  margin-bottom: 0;
}

.h2-servicios-pag {
  color: white;

  font-family: "Klavika";
  font-weight: 300;
  font-size: clamp(1.2rem, 2vw, 2rem);

  margin-bottom: 2rem;
}

.h4-servicios-pag {
  color: #363735;

  font-family: "Avenir";
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 1.3rem);

  margin-bottom: 1rem;
}

.foto-portada::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* MENÚ */

.tab-list {
  font-family: "Avenir";
  color: #363735;
  font-weight: 300;

  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: stretch;

  border: #cccccc solid 1px;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.tab-list li {
  flex: 1;
  text-align: center;

  justify-content: center;
  align-items: center;
}

/* CONTENIDO TAB INSPECCIÓN Y DIAGNÓSTICO */

.h3-servicios-pag {
  color: #767774;

  font-family: "Avenir";
  font-weight: 500;
  font-size: 1.5rem;

  margin-bottom: 0.5rem;
}

.tab-list a {
  text-decoration: none;
  color: #363735;
}

.p-servicios-pag,
.p-servicios {
  font-family: "Avenir";
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2;

  color: #363735;

  margin-top: 0;
  margin-bottom: 1.2rem;

  text-align: justify;
}

.p-servicios-pag {
  max-width: 700px;
}

.gif {
  background-color: #d5e9f8;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTENIDO NUESTROS EQUIPOS */

.img-equipo img {
  width: 100%;
  height: auto;
  display: block;

  border-radius: 15px;
}

.img-equipo-2 img {
  width: 100%;
  height: auto;
  display: block;

  border-radius: 15px;
}

.img-equipo-2-copia img {
  width: 600px;
  height: auto;
  display: block;

  border-radius: 15px;
}

.img-equipo-3 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;

  border-radius: 15px;
}

.img-equipo-4 {
  width: 600px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;

  border-radius: 15px;
}

.img-equipo-4 img {
  width: 600px;
}

.img-equipo-5 {
  width: 400px;
  object-fit: cover;
  overflow: hidden;

  border-radius: 15px;
}

.img-equipo-5 img {
  width: 400px;
}

.img-equipo-6 {
  object-fit: cover;
  overflow: hidden;

  border-radius: 15px;
}

.img-equipo-6 img {
  height: 330px;
  width: auto;
}

.img-equipo-7 img {
  width: 100%;
  height: auto;
  display: block;

  border-radius: 15px;
}

.iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconos-2 {
  display: flex;
  justify-content: center;
}

.italic {
  font-style: italic;
}

.ficha-tecnica {
  background: linear-gradient(to right, #ffa041, #ffc52e);
  color: white;
  border: none;
  border-radius: 10px;

  font-family: "Avenir";
  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;

  display: block;
  margin: auto;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top: 10px;

  transition: all 0.5s ease;
}

.ficha-tecnica:hover {
  background: linear-gradient(to right, #0377a8, #3db3e3);
  cursor: pointer;
}

/* LISTAS */

.lista {
  list-style: none;
  padding-left: 0;
}

.lista li {
  position: relative;
  padding-left: 2rem;
  color: #363735;
}

.lista li::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0.2rem;

  width: 1rem;
  height: 1rem;

  background: url("../imágenes/icono-bullet.svg") no-repeat center;
  background-size: contain;
}

.lista-bold {
  font-weight: 500;
}

/* PAVIMENTOS AEROPORTUARIOS */

.gif-pci {
  background-color: #d5e9f8;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.img-2,
.img-3 {
  overflow: hidden;
}

.img-2 img,
.img-3 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;

  border-radius: 15px;
}

/* CONTROL DE CALIDAD */

.boton-trenes {
  background: linear-gradient(to right, #ffa041, #ffc52e);
  color: white;
  border: none;
  border-radius: 10px;

  font-family: "Avenir";
  font-size: 1.2rem;
  font-weight: 600;

  cursor: pointer;

  z-index: 2;
}

/* PROYECTO EJECUTIVO */

.h2-PE {
  font-family: "Klavika";
  font-style: italic;
  font-weight: 400;
  color: #69676d;

  border-top: #b1aeb6 1px solid;

  line-height: 1.2;
}

.texto-PE {
  display: block;

  text-align: center;
}

.PE-card-container {
  display: grid;
}

.PE-card {
  border-radius: 50%;

  display: block;
  justify-content: center;
  align-items: center;
}

.PE-icono {
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.planos {
  background-color: #fccc50;
}

.memoria {
  background-color: #a0c5e1;
}

.especificaciones {
  background-color: #45b4e4;
}

.presupuesto {
  background-color: #0c71a8;
}

.cronograma {
  background-color: #ffa04a;
}

/* For desktop */
@media screen and (min-width: 1119px) {
  /* MENÚ */

  .tab-list {
    font-size: 1.2rem;
    gap: 4rem;

    padding-inline: 3.5rem;
  }

  /* PORTADA */

  .foto-portada {
    margin-top: 40px;
  }

  /* CONTENIDO TAB INSPECCIÓN Y DIAGNÓSTICO */
  .content {
    padding-inline: clamp(110px, 10vw, 200px);
    padding-bottom: 0;
  }

  .ind-container {
    display: flex;
    justify-content: center;

    gap: 5rem;
  }

  .gif-container {
    max-width: clamp(250px, 30vw, 400px);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gif {
    width: clamp(250px, 10vw, 300px);
    height: clamp(250px, 10vw, 300px);

    margin-bottom: 2rem;
  }

  .estructural {
    width: clamp(250px, 10vw, 350px);
  }

  .viapps-gif {
    width: clamp(380px, 10vw, 480px);

    padding-bottom: 1rem;
  }

  .tab-list li {
    position: relative;
  }

  .tab-list li:hover {
    font-weight: 500;
  }

  .tab-list li.active::after {
    content: "";
    position: absolute;

    left: 0;
    right: 0;
    bottom: -12px;

    height: 2px;
    background: #363735;
  }

  .tab-panel-text {
    margin-top: 2rem;
  }

  /* CONTENIDO NUESTROS EQUIPOS */

  .equipo {
    display: flex;

    margin-top: 3rem;
    margin-bottom: 3rem;

    padding-inline: 0;
  }

  .equipo-2 {
    display: flex;

    margin-top: 3rem;
    margin-bottom: -4rem;

    padding-inline: 0;
    padding-top: 0;
  }

  .continuacion-taludes {
    margin-top: 0;
  }

  .equipo-primera-fila,
  .equipo-segunda-fila {
    display: flex;

    margin-top: 1rem;

    padding-inline: clamp(20px, 5vw, 100px);
  }

  .texto-equipo-izq {
    flex: 1;

    padding-right: 3rem;
    padding-top: 1.2rem;
  }

  .texto-equipo-izq-2 {
    flex: 1;

    padding-right: 3rem;
    padding-top: 1.2rem;
    margin-bottom: 0;
  }

  .img-equipo,
  .img-equipo-2,
  .img-equipo-2-copia
  .img-equipo-3,
  .img-equipo-6,
  .img-equipo-7 {
    flex: 1;
  }

  .IMT {
    width: 120px;

    margin: 2rem;
  }

  .IMT-2 {
    width: 100px;

    margin: 0 2rem;
  }

  .pave-doctor {
    height: 120px;

    margin: 2rem;
  }

  .skid-doctor {
    height: 100px;

    margin: 2rem;
  }

  .skid-doctor-2 {
    height: 90px;

    margin: 0;
  }

  .HP {
    height: 60px;

    margin: 2rem;
  }

  .texto-equipo-der {
    flex: 1;

    padding-left: 3rem;
    padding-top: 1.2rem;
  }

  /* PAVIMENTOS AEROPORTUARIOS*/

  .gif-container-pci {
    max-width: clamp(200px, 10vw, 350px);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .gif-pci {
    width: clamp(190px, 10vw, 280px);
    height: clamp(190px, 10vw, 280px);

    margin-bottom: 0.5rem;
  }

  .pcr-pci {
    display: flex;
    flex: 1;

    padding-left: 3rem;
    gap: 4rem;

    justify-content: center;
  }

  .pci {
    width: clamp(240px, 10vw, 330px);
  }

  .pcr {
    height: clamp(215px, 10vw, 300px);
  }

  .p-texto-gif {
    font-family: "Avenir";
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2;
  }

  .imagenes {
    display: flex;
    gap: 1rem;
  }

  .img-2,
  .img-3 {
    flex: 1;

    margin-top: 2rem;
  }

  /* LISTAS */

  .lista {
    width: 90%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .lista li {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  /* CONTROL DE CALIDAD */
  .QC-trenes {
    display: block;
    margin-inline: auto;
    max-width: 80%;
    border-radius: 18px;
  }

  .contenedor-trenes {
    position: relative;
    margin: 0 auto;

    width: fit-content;
  }

  .contenedor-trenes::after {
    content: "";

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    bottom: 0;

    width: 80%;
    height: 50%;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));

    border-radius: 0 0 18px 18px;

    pointer-events: none;

    z-index: 1;
  }

  .boton-trenes {
    position: absolute;

    bottom: 2rem;
    left: 50%;

    transform: translateX(-50%);

    padding: 1rem;
    margin-bottom: 1rem;
  }

  .boton-trenes:hover {
    background: linear-gradient(to right, #0377a8, #3db3e3);
    cursor: pointer;
  }

  /* PROYECTO EJECUTIVO */

  .h2-PE {
    font-size: 1.1rem;
    letter-spacing: 0.3rem;
  }

  .texto-PE {
    margin-top: 1rem;
  }

  .texto-PE h3 {
    padding-top: 0.5rem;

    max-width: 10rem;
  }

  .PE-card-container {
    grid-template-columns: repeat(5, 1fr);

    gap: 1.3rem;

    margin-top: 1.8rem;
    margin-bottom: 3rem;
  }

  .PE-card {
    width: 12rem;
    height: 12rem;

    transition: transform 0.3s ease;
  }

  .PE-card:hover {
    transform: scale(0.9);
  }

  .PE-icono {
    width: 10rem;
    height: 10rem;

    padding: 2rem;
  }

  .PE-icono img {
    width: 7rem;
    height: auto;
  }

  .especificaciones img {
    padding-bottom: 1rem;
  }

  .presupuesto img {
    width: 5.5rem;
    padding-bottom: 0.5;
  }

  .cronograma img {
    width: 6rem;
  }

  /* PROYECTO EJECUTIVO */

  .img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
  }

  .img-grid {
    width: 100%;
  }

  .img-container img {
    width: 100%;
    height: auto;
    display: block;
  }

  .p-servicios {
    margin-top: 0;
  }

  .texto-equipo-izq-2 {
  }
}

/* NAV MOBILE*/
@media screen and (max-width: 1118px) {
  .content {
    padding-inline: clamp(30px, 5vw, 90px);
    padding-bottom: 0;

    margin-top: 1.2rem;
  }

  /* MENÚ */

  .tab-list {
    font-size: 1rem;
    gap: 2rem;

    padding-inline: 2rem;
  }

  /* TEXTOS */

  .h4-servicios-pag {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .p-servicios-pag {
    font-size: 1.1rem;
  }

  .p-servicios {
    font-size: 1.1rem;
  }

  /* LISTAS */

  .lista {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .lista li {
    font-size: 1.1rem;
  }

  /* CONTENIDO TAB INSPECCIÓN Y DIAGNÓSTICO */

  .h3-servicios-pag {
    margin-top: 1rem;
  }

  .ind-container {
    display: block;
    margin: auto;
  }

  .gif-container {
    margin: 1rem auto;
  }

  .gif {
    width: clamp(160px, 10vw, 230px);
    height: clamp(160px, 10vw, 230px);

    margin-bottom: 0.5rem;
  }

  .estructural,
  .pci {
    width: clamp(180px, 10vw, 280px);
  }

  .viapps-gif {
    width: clamp(250px, 10vw, 380px);
  }

  /* CONTENIDO NUESTROS EQUIPOS */

  .equipo {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 3rem;

    padding-inline: clamp(20px, 5vw, 100px);
  }

   .equipo-2 {
    display: flex;
    flex-direction: column;

    margin-top: 0;
    margin-bottom: 0rem;

    padding-inline: clamp(20px, 5vw, 100px);
  }

   .continuacion-taludes {
    margin-top: 0;
    padding-inline: clamp(20px, 5vw, 100px);
  }

  .texto-equipo-izq {
    margin: 0;
    padding: 0;
  }

  .texto-equipo-der {
    margin: 0;
    padding: 0;
  }

  .texto-equipo-izq,
  .texto-equipo-der {
    order: 2;
  }

  .img-equipo {
    order: 1;
  }

  .IMT {
    width: 100px;

    margin: 1rem;
  }

  .pave-doctor {
    height: 90px;

    margin: 1rem;
  }

  .HP {
    height: 50px;
    margin-left: 1rem;
  }

  .equipo-primera-fila {
    display: flex;
    flex-direction: column;

    margin-bottom: 1rem;

    padding-inline: clamp(20px, 5vw, 100px);
  }

  .equipo-segunda-fila {
    margin-bottom: 2rem;

    padding-inline: clamp(20px, 5vw, 100px);
  }

  .img-equipo-2 img {
    display: none;
  }

  .skid-doctor {
    height: 90px;

    margin: 1rem;
  }

  .ficha-tecnica {
    margin-top: 1rem;
  }

  /* PROYECTO EJECUTIVO */

  .h2-PE {
    font-size: 0.9rem;
    padding-top: 0.5rem;
    font-weight: 500;
  }

  .PE-card-container {
    grid-template-columns: repeat(3, 1fr);

    gap: 1rem;

    margin-top: 1.8rem;
    margin-bottom: 0;
  }

  .PE-icono {
    width: 6rem;
    height: 6rem;

    padding: 1.5rem;
  }

  .PE-icono img {
    width: 4rem;
  }

  .texto-PE {
    max-width: 6rem;

    margin-top: 0.5rem;
  }

  .especificaciones img {
    padding-bottom: 0.5rem;
  }

  .presupuesto img {
    width: 3.2rem;
    padding-bottom: 0.2;
  }

  .cronograma img {
    width: 3.7rem;
  }

  .img-equipo-6 img {
    width: 400px;
    height: auto;
  }

  /* PROYECTO EJECUTIVO */

  .img-grid {
    margin-top: 0;
    text-align: center;
  }

  .img-grid img {
    width: 90%;
  }

  .img-equipo-3 {
    height: auto;
    justify-content: center;
    padding: 0;
  }

  .img-equipo-3 img {
    width: 400px;
    margin-inline: auto;
  }

    .img-equipo-4 {
      width: 400px;
      height: auto;
      margin-inline: auto;
      margin-bottom: 0;
      padding: 0;
  }

    .img-equipo-4 img {
      width: 450px;
  }

  /* PAVIMENTOS AEROPORTUARIOS*/

  .gif-container-pci {
    max-width: clamp(100px, 10vw, 200px);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .gif-pci {
    width: clamp(180px, 8vw, 250px);
    height: clamp(180px, 8vw, 250px);

    margin-bottom: 0.5rem;
  }

  .pcr-pci {
    display: flex;
    flex: 1;

    gap: 7rem;

    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .pci {
    width: clamp(220px, 10vw, 300px);
  }

  .pcr {
    height: clamp(190px, 10vw, 250px);
  }

  .p-texto-gif {
    width: 9.5rem;
  }

  .img-equipo-2-copia img {
    width: 400px;
  }
}
